header {
	font-size: 2em;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
	margin-top: 1.5em;
}
.container {
	max-width: 50%;
	margin: 0 auto;
}

.menu {
	margin-top: 2em;
	text-align: center;
}

.btn {
	width: 10em;
	height: 2.5em;
	margin: 4px 4px;
	background-color: #83bdbd;
	border: 1px solid;
	border-radius: 0.4em;
}

a .btn,
a .btn:hover,
a .btn:focus {
	color: #3f3f3f;
	font-family: sans-serif;
	font-size: 1em;
	text-decoration: none;
	cursor: pointer;
}